/out
/.vs
/CMakeSettings.json
/.vscode
.deps
/config.h
/config.h.in
Makefile
Makefile.in
libtool
ltmain.sh
/m4
/configure
*.log
*.m4
/compile
/install-sh
config.sub
config.guess
config.status
depcomp
missing
stamp-h1
stamp-h2
stamp-h3

